pymongo
dnspython

langchain-google-genai
pymongo

python-dotenv
streamlit
langchain
langchain-community
langchain-openai
openai
tiktoken
python-dotenv
sentence-transformers
faiss-cpu
chromadb
numpy
pandas
scikit-learn
requests
pydantic

